.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas {
    border-style: ridge;
    border-bottom-color: yellow;
    border-top-color: blue;
    border-left-color: red;
    border-right-color: green;
    border-width: 30px;
    background-color: white;
  }

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

